.info-card {
  padding: 50px 5px !important;
  background-color: #ff5200;
  border-right: 1px solid gray;
}
.info-primary {
  background-color: #1cc7c1;
}
.info-dark {
  background-color: #3a4256;
}
.info-container {
  height: 110px;
  padding: 30px;
  border-radius: 3px;
}
.info-icon {
  color: white;
  font-size: 50px;
}
