.headerMain-container {
  background-image: url("../../../../images/bg_13.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0px;
}
.headerMain-container h2 {
  text-align: center;
  color: white;
}
